.benefits-blocks {
  
  background-color: #fff;
  margin: 20px 0px;
  padding: 20px 0px;
  
  
  h2 {
    
    margin-bottom: 50px;
    
  }
  
  h3 {
    
    color: darken($brand-primary, 15%);
    font-size: 18px;
    
  }
  
  p {
  
    font-size: 16px;
    
  }
  
}

.major-blocks {
  
  margin: 20px 0px;
  padding: 20px 0px;
  
}


.outro {
  
  background-color: #D2D2D2;
}

.case-studies {
  
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 20px;
  
}