---
title: Sheffield Teaching Hospital Recruitment
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <img src="http://placehold.it/1200x400" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="major-blocks">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="well">
          <img src="http://placehold.it/150x150">
          <h3>A stunning point</h3>
          <p class="lead">Some additional text in a charcol colour</p>
          <a href="#" class="btn btn-primary">This is a button</a>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="well">
          <img src="http://placehold.it/150x150">
          <h3>A stunning point</h3>
          <p class="lead">Some additional text in a charcol colour</p>
          <a href="#" class="btn btn-primary">This is a button</a>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="well">
          <img src="http://placehold.it/150x150">
          <h3>A stunning point</h3>
          <p class="lead">Some additional text in a charcol colour</p>
          <a href="#" class="btn btn-primary">This is a button</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits-blocks">
  <div class="container">
    
    <div class="row text-center">
      <h2>Why you should join us</h2>
    </div>
    
    <div class="row text-center">
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
    </div>
    
    <div class="row text-center">
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
    </div>
    
    <div class="row text-center">
      <a href="#" class="btn btn-danger btn-shout">Find out more</a>
    </div>
    
  </div>
</section>


<section class="case-studies">
    <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-1">
            <div class="text-center">
              <h2>Case studies</h2>
            </div>
            
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="http://placehold.it/500x275">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                </li>
            </ul>
          </div>
        </div>
    </div>
</section>


<section class="outro">
  <div class="container">
    <div class="row text-center">
      <h2>Ready to join?</h2>
      <p class="lead">A single line to finish off the main page with a big ass button</p>
      <a href="#" class="btn btn-danger btn-shout">Find out more</a>
    </div>
  </div>
</section>