---
title: Sheffield Teaching Hospital Recruitment
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <img src="http://placehold.it/1200x400" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section id="major-blocks">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="well">
          <img src="http://placehold.it/150x150">
          <h3>A stunning point</h3>
          <p class="lead">Some additional text in a charcol colour</p>
          <a href="#" class="btn btn-danger">This is a button</a>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="well">
          <img src="http://placehold.it/150x150">
          <h3>A stunning point</h3>
          <p class="lead">Some additional text in a charcol colour</p>
          <a href="#" class="btn btn-danger">This is a button</a>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="well">
          <img src="http://placehold.it/150x150">
          <h3>A stunning point</h3>
          <p class="lead">Some additional text in a charcol colour</p>
          <a href="#" class="btn btn-danger">This is a button</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="benefits-blocks">
  <div class="container">
    
    <div class="row text-center">
      <h2>Why you should join us</h2>
    </div>
    
    <div class="row text-center">
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
    </div>
    
    <div class="row text-center">
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="brag-block">
          <img src="http://placehold.it/75x75" class="img-circle">
          <h3>A major benefit</h3>
          <p>A classic example of a benefit to working at Sheffield Teaching Hospitals</p>
        </div>
      </div>
    </div>
    
    <div class="row text-center">
      <a href="#" class="btn btn-danger btn-shout">Find out more</a>
    </div>
    
  </div>
</section>